<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - LSF</title>

  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/index.css">

</head>
<body>

  <header>
    <nav>
      <ul>
        <li>
          <a href="/user/login" class="btn">SignIn</a>
        </li>
        <li>
          <a href="/user/register" class="btn">Create User Account</a>
        </li>
        <li>
          <a href="/emp/register" class="btn">Create Employee Account</a>
        </li>
        <li>
          <a href="/emp/login" class="btn">Employee SignIn</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="main">
      <div class="parent">
        <h1>Welcome to Local Services Finder</h1>
        <h3>Search </h3>

        <form action="">
          <div class="form-control">
            <input type="text" name="" id="" placeholder="Place/Location">
            <select name="" id="">
              <option value="" hidden>Job Title</option>
              <option value="">Dev</option>
              <option value="">Jn.Dev</option>
            </select>
            <button>
              <i class="bi bi-search"></i>
            </button>
          </div>
        </form>
      </div>
    </section>
  </main>

  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Amarthya</span></strong>. All Rights Reserved
    </div>
  </footer>

  
  
</body>
</html>